<section class="glassesP">
    <div  class="sectionHeader bgC">
        <h3>
            Glasses & Watches
        </h3>
    </div>
    
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <img src="../../../assets/brands/P_3.png" class="card-img-top" alt="Glasses" [routerLink]="['/productcategory/Glasses/1']">
              <h5 class="card-title bgC">
                <a href="Glasses">
                    Glasses
                </a>
              </h5>
        </div>

        <div class="col">
            <img src="../../../assets/brands/P_4.png" class="card-img-top" alt="Watches" [routerLink]="['/productcategory/Watches/1']">
              <h5 class="card-title bgC">
                <a href="Watches">
                    Watches
                </a>
              </h5>
        </div>
    </div>
</section>

