.dashboard .dropdown button
{
    margin-bottom: 10px;
}
.gains h1{
    font-family: sans-serif;
    font-size: 23px;
}
.gains span{
    color :rgb(83, 83, 83)
}

.commentReview{

}
.commentReview .commentReviewContainer{
    height: 150px;
    background-color: #eee9;
    padding: 15px;
    border-radius: 8px;
    font-size: 19px;
    box-shadow: 5px 7px 13px #c7c2c2;
    margin: 0 0 30px 0;
}
.commentReviewContainer .comment{
    padding: 11px 8px 0px 4px;
    font-family: sans-serif;
}
.commentReviewContainer .Reviews{
    padding: 18px 29px 2px 8px;
    font-family: sans-serif;
    font-size: 15px;
}
.commentReviewContainer .Reviews span{
 padding-left: 15px;
    color: rgb(220, 198, 0);
}