<footer>
  <div class="container containerOne">
      <div class="row">
        <div class="col-6">
          <p class="footerTittle">
              We're Always Here To Help
          </p>
          <p class="footerSubTittle">
              Reach out to us through any of these support channels
          </p>
        </div>
        <div class="col-2">
         <a href="https://help.noon.com/hc/en-us" class ="colTwo" target="_blank">
          <div class="iconInfo">
              <i class="bi bi-info-circle" width="24px" hight="24px"></i>
          </div>
          <div>
              <span class="grayText">HELP CENTER</span>
              <span class="boldText">help.noon.com</span>
          </div>
         </a>
        </div>
        <div class="col-2">
          <a href="mailto:egypt@noon.com" class ="colTwo" target="_blank">
              <div class="iconInfo">
                  <i class="bi bi-envelope"></i>
              </div>
              <div>
                  <span class="grayText">email support</span>
                  <span class="boldText">egypt@noon.com</span>
              </div>
             </a>
        </div>
        <div class="col-2">
          <a href="tel:16358" class ="colTwo" target="_blank">
              <div class="iconInfo">
                  <i class="bi bi-telephone"></i>
              </div>
              <div>
                  <span class="grayText">phone support</span>
                  <span class="boldText">16358</span>
              </div>
             </a>
        </div>
      </div>
  </div>
  <hr>
      <div class="container containerTwo">
          <div class="row">
              <p class="col colHead">ELECTRONICS</p>
              <p class="col colHead">FASHION</p>
              <p class="col colHead">HOME AND KITCHEN</p>
              <p class="col colHead">BEAUTY</p>
              <p class="col colHead">KIDS, BABY & TOYS</p>
              <p class="col colHead">TOP BRANDS</p>
          </div>
          <div class="row ">
            <a class="col colSubCat" routerLink="#">
              mobiles
            </a>
            <a class="col colSubCat" routerLink="#">
              women's fashion
            </a>
            <a class="col colSubCat" routerLink="#">
              kitchen & dining
            </a>
            <a class="col colSubCat" routerLink="#">
              women's fragrance
            </a>
            <a class="col colSubCat" routerLink="#">
              strollers, prams& Accessories
            </a>
            <a class="col colSubCat" routerLink="#">
              Apple
            </a>
          </div>
          <div class="row ">
            <a class="col colSubCat" routerLink="#">
              tablets
            </a>
            <a class="col colSubCat" routerLink="#">
              men's fashion
            </a>
            <a class="col colSubCat" routerLink="#">
              bedding
            </a>
            <a class="col colSubCat" routerLink="#">
              men's fragrance
            </a>
            <a class="col colSubCat" routerLink="#">
              car seats
            </a>
            <a class="col colSubCat" routerLink="#">
              samsung
            </a>
          </div>
          <div class="row ">
            <a class="col colSubCat" routerLink="#">
              laptops
            </a>
            <a class="col colSubCat" routerLink="#">
              girl's fashion
            </a>
            <a class="col colSubCat" routerLink="#">
              bath
            </a>
            <a class="col colSubCat" routerLink="#">
              make-Up
            </a>
            <a class="col colSubCat" routerLink="#">
              baby clothing
            </a>
            <a class="col colSubCat" routerLink="#">
              nike
            </a>
          </div>
          <div class="row ">
            <a class="col colSubCat" routerLink="#">
              home appliances
            </a>
            <a class="col colSubCat" routerLink="#">
              boy's fashion
            </a>
            <a class="col colSubCat" routerLink="#">
              home decor
            </a>
            <a class="col colSubCat" routerLink="#">
              haircare
            </a>
            <a class="col colSubCat" routerLink="#">
              feeding
            </a>
            <a class="col colSubCat" routerLink="#">
              ray-ban
            </a>
          </div>
          <div class="row ">
            <a class="col colSubCat" routerLink="#">
              camera, photos& videos
            </a>
            <a class="col colSubCat" routerLink="#">
              men's watches
            </a>
            <a class="col colSubCat" routerLink="#">
              home appliances
            </a>
            <a class="col colSubCat" routerLink="#">
              skincare
            </a>
            <a class="col colSubCat" routerLink="#">
              bathing& skincare
            </a>
            <a class="col colSubCat" routerLink="#">
              tefal
            </a>
          </div>
          <div class="row ">
            <a class="col colSubCat" routerLink="#">
              televisions
            </a>
            <a class="col colSubCat" routerLink="#">
              women's watches
            </a>
            <a class="col colSubCat" routerLink="#">
              tools& home improvement
            </a>
            <a class="col colSubCat" routerLink="#">
              personal care
            </a>
            <a class="col colSubCat" routerLink="#">
              diapering
            </a>
            <a class="col colSubCat" routerLink="#">
              l'oreal paris
            </a>
          </div>
          <div class="row ">
            <a class="col colSubCat" routerLink="#">
              headphones
            </a>
            <a class="col colSubCat" routerLink="#">
              eyewear
            </a>
            <a class="col colSubCat" routerLink="#">
              patio, lawn& garden
            </a>
            <a class="col colSubCat" routerLink="#">
              tools& accessories
            </a>
            <a class="col colSubCat" routerLink="#">
              baby& toddler toys
            </a>
            <a class="col colSubCat" routerLink="#">
              chicco
            </a>
          </div>
          <div class="row ">
            <a class="col colSubCat" routerLink="#">
              video games
            </a>
            <a class="col colSubCat" routerLink="#">
             bags& luggage
            </a>
            <a class="col colSubCat" routerLink="#">
              home storage& organization
            </a>
            <a class="col colSubCat" routerLink="#">
            </a>
            <a class="col colSubCat" routerLink="#">
              toys& games
            </a>
            <a class="col colSubCat" routerLink="#">
              tornado
            </a>
          </div>
          <div class="partO">
            <div class="col ">
              <p>SHOP ON THE GO</p>
              <a href="https://apps.apple.com/app/noon-%D9%86%D9%88%D9%86/id1269038866?ls=1" target="_blank">
                <img src="https://z.nooncdn.com/s/app/com/common/images/logos/app-store.svg"
                alt="App Store" class="sc-374a8e6e-16 cPxdlh">
              </a>
              <a href="https://play.google.com/store/apps/details?id=com.noon.buyerapp" target="_blank">
                <img src="https://z.nooncdn.com/s/app/com/common/images/logos/google-play.svg"
                alt="Google Play" class="sc-374a8e6e-16 cPxdlh">
              </a>
            </div>
            <div class="col">
              <p>
                CONNECT WITH US
              </p>
              <div class="icons">
                <a href="https://www.facebook.com/noon/" target="_blank">
                  <i class="bi bi-facebook"></i>
                </a>
                <a href="https://twitter.com/noon/" target="_blank">
                  <i class="bi bi-twitter"></i>
                </a>
                <a href="https://www.instagram.com/noon/" target="_blank">
                  <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/company/18045372/" target="_blank">
                  <i class="bi bi-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
  <hr>
  <div class="last">
    <div class="copyRight">
        © 2022 Copyright: All rights reserved
    </div>
    <div>
      <img src="../../../assets/paid/mastercard-color.svg">
      <img src="../../../assets/paid/visa-color.svg">
      <img src="../../../assets/paid/cash-color.svg">
      <img src="../../../assets/paid/amex-color.svg">
    </div>
    <div >
      <a href="https://www.linkedin.com/company/nooncom/jobs/" target="_blank">careers</a>
      <a href="https://www.noon.com/egypt-en/">warranty policy</a>
      <a href="https://sell.withnoon.com/home-eg-en" target="_blank">sell with us</a>
      <a href="https://www.noon.com/egypt-en/terms-of-use/">terms of use</a>
      <a href="https://www.noon.com/egypt-en/terms-of-sale/">terms of sale</a>
      <a href="https://www.noon.com/egypt-en/privacy-policy/">privacy policy</a>
    </div>
  </div>
  </footer>