<section class="clothesP">
    <div  class="sectionHeader bgC">
        <h3>
            Kids Fashion - Up to 80% OFF
        </h3>
    </div>
    
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <img src="../../../assets/brands/P_1.jpg" class="card-img-top" alt="Boys" [routerLink]="['/productcategory/boys/1']">
              <h5 class="card-title bgC">
                <a>
                    Boys Fashion
                </a>
              </h5>
              <div class="fliterAge" *ngIf="false">
                <div class="oval" id="ovalBoys"><a >3 Years</a></div>
                <div class="oval" id="ovalBoys"><a >4-6 Years</a></div>
                <div class="oval" id="ovalBoys"><a >7-10 Years</a></div>
                <div class="oval" id="ovalBoys"><a >+10 Years</a></div>
            </div>
        </div>

        <div class="col">
            <img src="../../../assets/brands/P_2.jpg" class="card-img-top" alt="Girls" [routerLink]="['/productcategory/girls/1']">
              <h5 class="card-title bgC bgCGirls">
                <a>
                    Girls Fashion
                </a>
              </h5>
              <div class="fliterAge" *ngIf="false">
                <div class="oval" id="ovalGirls"><a >3 Years</a></div>
                <div class="oval" id="ovalGirls"><a >4-6 Years</a></div>
                <div class="oval" id="ovalGirls"><a >7-10 Years</a></div>
                <div class="oval" id="ovalGirls"><a >+10 Years</a></div>
            </div>
        </div>
    </div>
</section>